name: Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10

    - name: Build
      run: |
        dotnet build
        dotnet build --configuration Release

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Build
        path: |
          bin/Debug/netstandard2.1/GladioMorePlayers.dll
          bin/Release/netstandard2.1/GladioMorePlayers.dll
