name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10

      - name: Pack
        run: |
          dotnet pack

      - name: NuGet Login
        uses: NuGet/login@v1
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Publish
        run: |
          dotnet nuget push ./bin/Release/*.nupkg \ 
          --api-key "${{ steps.login.outputs.NUGET_API_KEY }}" \
          --source https://www.nuget.org/api/v2/package
